<div class="container">
	<h2>About PAX</h2>
	<p>Pax English Medium Primary School is the education institute that provide nursery and primary level education</p>
	<p>Pax English Medium School was founded in 2015 and oficial registered in 2016 with registration number ..... and national examination are facilitated</p>
	<p>Our teacher provide execelent education and are choosen if they show good records. The teaching language is English. There are few teachers from outside the country who enrich school with their education skills.</p>
	<p>Class level start from pre-school to the highetst level standard seven</p>

	<h2>Location and direction</h2>
	<p>Pax english medium school is located at Mji mwema, kigamboni, Dar es salaam. Few meters from oilcom-mjimwema  petrol station. It is located 10 kilometer from kivukoni ferry</p>


<%= render 'layouts/sidebar' %>
</div>