<div class="container">
  <h2>Academic program</h2>
  <p>Our school provide education to various level, so far we have...</p>
    <ul>
    	<li>Nursery level</li>
    	<li>Primary</li>
    </ul>

  <div class="row">
    <div class="col-sm">
        <h2>Academic Results</h2>
    	<p>You can download and view all previously result of each sermister</p>
    </div>
    <div class="col-sm-4">
	   <h3>Results 2016</h3>
	     <ul>
	     	<li><%= link_to "results_first_sermister_class_1", pdf_path %></li>
	     	<li><%= link_to "results_first_sermister_class_2", pdf_path %></li>
	     	<li><%= link_to "results_first_sermister_class_3", pdf_path %></li>
	     	<li><%= link_to "results_first_sermister_class_4", pdf_path %></li>
	     </ul>
	</div>
	<div class="col-sm-4">
	   <h3>Results 2015</h3>
	     <ul>
	     	<li><%= link_to "results_first_sermister_class_1", pdf_path %></li>
	     	<li><%= link_to "results_first_sermister_class_2", pdf_path %></li>
	     	<li><%= link_to "results_first_sermister_class_3", pdf_path %></li>
	     	<li><%= link_to "results_first_sermister_class_4", pdf_path %></li>
	     </ul>
	</div>
	<div class="col-sm-4">
	   <h3>Results 2015</h3>
	     <ul>
	     	<li><%= link_to "results_first_sermister_class_1", pdf_path %></li>
	     	<li><%= link_to "results_first_sermister_class_2", pdf_path %></li>
	     	<li><%= link_to "results_first_sermister_class_3", pdf_path %></li>
	     	<li><%= link_to "results_first_sermister_class_4", pdf_path %></li>
	     </ul>
	</div>
  </div>
	
	<%= render 'layouts/sidebar' %>
</div>