<div class="container">
	<div class="">
		<h2>Admisions</h2>
		<p>There are several key entry point to PAX ENGLISH MEDIUM SCHOOL.</p>
		<ul>
			<li>Student must have atleast 5 years old</li>
			<li>Student must be mental fit</li>
			<li>We accept student from any school</li>
		</ul>
	</div>
	<div class="">
	    <h2>Application</h2>
	    <p>All aplication is done through head teacher or School Director </br> You can download application form <%= link_to "here", doc_path %></p>
	</div>
	<div class="">
		<h2>Fee structure</h2>
		<p>Click <%= link_to "here", pdf2_path %> to download fee structure of our school</p>
	</div>

	<%= render 'layouts/sidebar' %>
</div>