<div class="container">
	<h2>Contact us through:-</h2>
	<table class="contacts">
	   <tr>
	   	  <th>Name</th>
	   	  <th>Position</th>
	   	  <th>Contacts</th>
	   </tr>
	   <tr>
	   	  <td>Mary Herman Sampala</td>
	   	  <td>School Director</td>
	   	  <td>0658923513</td>
	   </tr>
	   <tr>
	   	  <td>Malaika Kimomwe</td>
	   	  <td>Ass. Head teacher</td>
	   	  <td>0655978641</td>
	   </tr>
	   <tr>
	   	  <td>Malaika Kimomwe</td>
	   	  <td>Academi teacher</td>
	   	  <td>0655978641</td>
	   </tr>
		
	</table>

	<h2>Campus</h2>
	<p>Pax English Medium primary school</br>P.o.box 38068</br>Mji mwema, Kigamboni</br>Dar es salaam</p>

	<%= render 'layouts/sidebar' %>
</div>