<%= render 'layouts/carouselslider' %>
<div class="w3-container">

	<table class="table1">
	 <tr>
	  <th>Who are we?</th>
	  <th>Mission</th>
	 </tr>
	 <tr>
		<td>
		Pax English medium schools is the school that based on providing education service ruther than doing business. Our school offer nussery education and primary school education. It is located at mji mwema kigamboni Dar es salam few kilometer from kivukoni fery. Our aim is to provide maximum effort for you children's future education life <%= link_to "read more", about_path %>
		</td>	  
		<td>
		  Our mission is blah blah blha abjkakjakhak ajjkhahkjha ajajkajhkah ajhkahkakhakha ajjaj
		  Our  mission is bla b;la hbla b;la bajhakajjhyja khakha hjhasjnkasua kashkhakkha
		</td>
	 </tr>
	 <tr>
	  <th>Vission</th>
	  <th>Objectives</th>
	 </tr>
	 <tr>
		<td>
		  Our mission is blah blah blha abjkakjakhak ajjkhahkjha ajajkajhkah ajhkahkakhakha ajjaj
		  Our  mission is bla b;la hbla b;la bajhakajjhyja khakha hjhasjnkasua kashkhakkha
		  Our mission is blah blah blha abjkakjakhak ajjkhahkjha ajajkajhkah ajhkahkakhakha ajjaj
		</td>	  
		<td>
		  Our mission is blah blah blha abjkakjakhak ajjkhahkjha ajajkajhkah ajhkahkakhakha ajjaj
		  Our  mission is bla b;la hbla b;la bajhakajjhyja khakha hjhasjnkasua kashkhakkha
		</td>
	 </tr>
	</table>

	<%= render 'layouts/sidebar' %>
</div>