<div class="container">
	<h2>News and Events</h2>
	<p><em>21/01/2016</em> | <a href="#">Admission 2016</a></p>
	<p><em>01/01/2016</em> | <a href="#">Anouncement for parents meeting</a></p>
	<p><em>12/12/2015</em> | <a href="#">End of second sermister ceremon</a></p>

	<%= render 'layouts/sidebar' %>
</div>