@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */

body {
  padding-top: 0px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  letter-spacing: -1px;
  margin-bottom: 30px;
  #text-align: center;
  font-weight: normal;
  color: $gray-light;
}


p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

header {
  margin-top: 0px;

  ul{
    text-align: center;

    li{
      fornt-color: black;
      font-size: 20px; 
    }
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding: 50px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

.fb-like{
  margin-left:10px;
}


/* change image size in class thumbnail*/
.thumbnail{
  float: center;
  width:100%;
  height:300px;
  overflow:auto;
}

/* navbar*/
.navbar {
  background-color: $gray-medium-light;
  line-height: 0;

  ul{
    float: center;

    li p{
      margin-top: 5px;
    }
  }
}
nav .social-icon a{
  font-size: 30px;
  float: right;
  margin-right: 20px;
  padding-top: 10px;
}


/*Table properties...*/
table{
  width: 60%;
  height: 200px;
  border: 1px solid #ddd;
  border-colapse: colapse;
}
table th{
  border: 1px solid #ddd;
  padding-left: 5px;
}
table td{
  padding-left: 5px;
}
tr:hover{background-color:#f5f5f5}

.banner{
  width: 100%;
}


/*Slider*/

.carousel-inner > .item > .image{
      width: 70%;
      margin: auto;
    
}
#myCarousel{
  margin-top: -20px;
}


/*sidebar*/
.sidebar {
  float: right;
  height: 500px;
  width: 300px;
  margin-top: 20px;
  padding-top: 20px;

  .downloads, .notice{
     padding-top: 30px;

     h4{
     margin-bottom: 30px;
     padding: 20px;
     background-color: $gray-light;
     }

     li{
     margin-bottom: 20px;
     list-style: none;
     }
  }
}

.table1{
  width: 50%;
  margin-top: 50px;
  text-align: justify;
  float: left;

  th{
    font-size: 20px;
    letter-spacing: 4px;
    border: 1px solid #ddd;
    padding-left: 5px;
  }

  td{
    pading: 20px;
    letter-spacing: 2px;
    line-height: 1.8;
  }
}