<header class="navbar navbar-fixed navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", root_path %></li>
        <li><p>|</p></li>
        <li><%= link_to "Admision", admision_path %></li>
        <li><p>|</p></li>
        <li><%= link_to "Academic", academic_path %></li>
        <li><p>|</p></li>
        <li><%= link_to "Contact Us", contacts_path %></li>
        <li><p>|</p></li>
        <li><%= link_to "News & Events", news_path %></li>
        <li><p>|</p></li>
        <li><%= link_to "About Us", about_path %></li>
      </ul>

      <div class="social-icon">
         <a href="http://twitter.com/minimalmonkey" class="icon-button twitter"><i class="icon-twitter"></i><span></span></a>
        <a href="http://facebook.com" class="icon-button facebook"><i class="icon-facebook"></i><span></span></a>
        <a href="http://plus.google.com" class="icon-button google-plus"><i class="icon-google-plus"></i><span></span></a>
      </div>
    </nav>
  </div>
</header>